.body{
    background-image: url(images/japanese\ night\ cafe\ vibes\ lofi.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.box1{    
    height: 425px;
    width: 25%;
    top: 100px;
    left: 37%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid wheat;
    position: relative;
    overflow: hidden;
}
.h1{
    position: absolute;
    width: 20%;
    left: 40%;
    top: 25px;
}
.form{
    position: relative;
    top: 40%;
    left: 25%;

}
.reset{
    height: 20px;
    width: 60px;
    position: absolute;
    bottom: -20px;
    background-color: #011222;
    color: aqua;
    border: 0px solid;
}
.submit{
    height: 20px;
    width: 60px;
    position: absolute;
    left: 35%;
    bottom: -20px;
    background-color: #011222;
    color: aqua;
    border: 0px solid;
}
.fname{
    background: transparent;
    border: 0px solid;
    outline: 0px;
}
 
.email{
    background: transparent;
    border:0px solid;
    outline: 0px;
}
.pass{
    background: transparent;
    border:0px solid;
    outline: 0px;
}
::placeholder{
    color: #011222;
}
.box2{
    background-color: rgba(255, 255, 255, 0.193);
    height: 55%;
    width: 55%;
    position: absolute;
    border-radius: 15px;
    top: -80%;
    left: -62%;
    rotate: 45deg;
}

.box3{
    background-color: rgba(255, 255, 255, 0.193);
    height: 55%;
    width: 55%;
    position: absolute;
    border-radius: 15px;
    top: 0%;
    left: 45%;
    rotate: 135deg;
}

.box4{
    background-color: rgba(255, 255, 255, 0.193);
    height: 55%;
    width: 55%;
    position: absolute;
    border-radius: 15px;
    top: 110%;
    left: -45%;
    rotate: 45deg;
}

.box5{
    background-color: rgba(255, 255, 255, 0.193);
    height: 55%;
    width: 55%;
    position: absolute;
    border-radius: 15px;
    top: -160%;
    left: 20%;
    rotate: 45deg;
}











